@import url('https://fonts.cdnfonts.com/css/momcake?styles=70427,70426');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
::-webkit-scrollbar{
    width: 8px;
    background-color: #fff;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb{
    background-color: #ddd;
    border-radius: 30px;
}

* {
    text-decoration: none;

}

body {
    background-color: #eee;
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1% 2%;
    box-sizing: border-box;
    gap: 15px;
    
}

nav {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    height: 90vh;
    padding: 1%;
    background-color: #58A1E4;
    border-radius: 16px;
    box-sizing: border-box;
    
}

nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    text-decoration: none;

}

nav ul li {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul li a img {
    width: 25px;
}

.ph {
    color: white;
    font-size: 30px;
}

.notification-container {
    width: 16vw;
    position: absolute;
    top: 15vh;
    left: 5vw;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 8px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 1px 10px 1px black;
}

.notification .ph {
    color: rgb(78, 30, 30);
    font-size: 3rem;
}

.notification .ph-x-circle {
    position: absolute;
    font-size: 18px;
    top: 4px;
    right: 4px;
}

.alert {
    width: 16vw;
    border-radius: 4px;
    background-color: rgb(226, 111, 111);
    color: rgb(78, 30, 30);
    font-size: 13px;
}

.alert-content {
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.alert .ph {
    color: rgb(78, 30, 30);
    font-size: 3rem;
}

.alert .ph-x-circle {
    position: absolute;
    font-size: 18px;
    top: 4px;
    right: 4px;
}

.timer {
    width: 100%;
    height: 4px;
    border-radius: 0 0 4px 4px;
    background-color: rgb(78, 30, 30);
    transition: all .5s;
}

.slideIn {
    animation: slideIn .7s linear;
}

@keyframes slideIn {
    from {
        right: -100vw
    }
    to {
        right: 2.6%;
    }
}

@keyframes timerLoad {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.notification {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px;
    border-radius: 4px;
    background-color: rgb(226, 111, 111);
    color: rgb(78, 30, 30);
    font-size: 13px;
}

.notification-titulo {
    font-weight: 600;
}

.notification-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#alerts_container {
    position: absolute;
    top: 5%;
    right: 2.6%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.lit-not {
    position: relative;
    height: fit-content;
}

.qtd-alertas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3px;
    color: white;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    font-size: 8px;
    top: 8%;
    left: 45%;
}

select {
    padding: 4px 6px;
    height: 100%;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 22px 9px rgba(0, 0, 0, 0.01), 
                0px 0px 7px rgba(0, 0, 0, 0.02), 
                0px 6px 6px rgba(0, 0, 0, 0.03), 
                0px 1px 3px rgba(0, 0, 0, 0.1), 
                0px 0px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

select option:checked {
    background-color: #ddd;
    border: none;
}

.empresa {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.empresa-nome {
    font-family: 'MOMCAKE', sans-serif;
    color: #58A1E4;
    margin: 0;
    padding: 0;
}

.top-line {
    box-sizing: border-box;
    padding: 0 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-line span {
    font-weight: bold;
}

.temp {
    width: 22px;
}

.content {
    display: flex;
    gap: 20px;
}

.inner-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 45vw;
    height: 90vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 49%;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #fff;
    padding: 2%;
}

.inner-content .container {
    flex-direction: column;
}

.container h3 {
    font-size: 13px; 
    text-align: center;  
}

.container.cards {
    flex-direction: row;
    justify-content: space-between;
    background-color: unset;
    padding: 0;
    background-color: transparent;
}   

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    border-radius: 20px;
}

.container.cards .card:last-child {
    width: 68%;
    padding: 2%;
    box-sizing: border-box;
    background-color: #fff;
}

.container.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 100%;
    background-color: transparent;
    padding: 0;
}

.container .info:nth-child(2) {
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    background-color: #fff;
    border-radius: 20px;
    padding: 5%;
    box-sizing: border-box;
}

.lista-armazens {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65%;
    background-color: #fff;
    border-radius: 20px;
    padding: 5%;
    box-sizing: border-box;
    overflow-y: scroll; 
    align-items: center;
}

.lista-armazens .valor{
    display: flex;
    font-size: 18px;
    color: #58A1E4;
    gap: 5px;
}

.valor ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    list-style: none;
    text-transform: uppercase;
}
.valor ul li a {
    text-decoration: none;
    color: #58A1E4;
}
.info span,
.lista-armazens span {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 15px;
    font-weight: 800;   
    color: #383838;
    margin-top: 10%;
}

.info h4 {
    font-size: 13px;
}

.lista-armazens h4{
    font-size: 17px;
}

.info img {
    width: 20px;
}

.lista-armazens img {
    margin-right: 10px;
}

